<% if gun.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(gun.errors.count, "error") %> prohibited this gun from being saved:</h2>

    <ul>
      <% gun.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="row m-4">
    <div class="col-md-6 offset-md-3">
      <div class="card box-shadow">
        <div class="card-header bg-transparent">
          <%= form_for @gun, html: {multipart: true} do |form| %>
            <span class="text-left float-left h4"><%= form.text_field :name, class:"form-control", Placeholder:"Gun Name" %></span>
            </div>
            <div class="card-body">
              <h6>Caliber</h6>
              <h2 class="pb-3"><b><%= form.text_field :caliber, class:"form-control", Placeholder:"Caliber" %></b></h2>
              <table class="table table-row-bordered table-striped">
                <tr>
                  <th>Ammo Qty.</th>
                  <td><%= form.text_field :ammo, class:"form-control", Placeholder:"Ammo Amount" %></td>
                </tr>
                <tr>
                  <th>Serial#</th>
                  <td><%= form.text_field :serial, class:"form-control", Placeholder:"Serial Number" %></td>
                </tr>
                <tr>
                  <th>Status:</th>
                  <td><%= form.select :status, options_for_select([["Ready","ready"],["Needs repair","needsrepair"],["Needs evaluation",  "needsevaluation"],["Get mag","getMag"]]), class:"form-control" %>
                  </td>
                </tr>
                <tr>
                  <th>** render me if above is selected Needs:</th>
                  <td><%= form.text_field :needs, class:"form-control" %></td>
                </tr>
                <tr>
                  <th>Photo</th>
                  <td><%= form.file_field :avatar %></td>
                </tr>
              </table>
            </div>
        
            <div class="py-4 px-2 bg-light align-center text-center">
              <%= form.submit %>
            </div>
          <% end %>  
        </div>
    </div>
  </div>
