<% if gun.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(gun.errors.count, "error") %> prohibited this gun from being saved:</h2>

    <ul>
      <% gun.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="row m-3">
  <div class="col-md-8 offset-md-2">
    <div class="card box-shadow">
      <div class="card-header bg-transparent">
        <%= form_for @gun, html: {multipart: true} do |form| %>

          <span class="text-left float-left h3">Add a new gun</span>
          </div>
          <div class="card-body">
            <table class="table table-row-bordered table-striped">
            <tr>
                <th>Description</th>
                <td><%= form.text_field :name, class:"form-control" %></td>
              </tr>
              <tr>
              <tr>
                <th>Caliber</th>
                <td><%= form.text_field :caliber, class:"form-control" %></td>
              </tr>
              <tr>
                <th>Ammo Qty</th>
                <td><%= form.text_field :ammo, class:"form-control" %></td>
              </tr>
              <tr>
                <th>Needs:</th>
                <td><%= form.text_field :needs, class:"form-control" %></td>
              </tr>
              <tr>
                <th>Serial #</th>
                <td><%= form.text_field :serial, class:"form-control" %></td>
              <tr>
            </table>
          </div>
      
          <div class="py-4 px-2 bg-light align-center text-center">
             <%= form.submit %>
          </div>
        <% end %> 
    
    </div>
  </div>
</div>  
