<div class="box-shadow p-3">

  <%= form_for @gun, html: {multipart: true} do |form| %>

    <form>
      <div class="form-group">
        <%= form.label :name%>
        <%= form.text_field :name%>
      </div>

      <div class="form-group">
        <%= form.label :caliber%>
        <%= form.text_field :caliber%>
      </div>  

      <div class="form-group">
        <%= form.label :needs%>
        <%= form.text_field :needs%>
      </div> 

      <div class="form-group">
        <%= form.label :Photo%>
        <%= form.file_field :avatar %>
      </div>

      <div class="form-group">
        <%= form.label :ammo%>
        <%= form.text_field :ammo %>
      </div>


      <div class="form-check actions">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>  
    </form>


    <% if gun.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gun.errors.count, "error") %> prohibited this gun from being saved:</h2>

        <ul>
          <% gun.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>
</div>  
