<p id="notice"><%= notice %></p>

<div class="p-4">
  <%= link_to '+ New Gun', new_gun_path,  class:"btn btn-primary"%>
</div>

<div class="col-md-12">
  <table class="table table-dark">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Caliber</th>
        <th>Ammo Qty.</th>
        <th>Needs</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @guns.each do |gun| %>
        <tr>
          <td><%= image_tag gun.avatar.url(:thumb) %></td>
          <td><%= gun.name %></td>
          <td><%= gun.caliber %></td>
           <td><%= gun.ammo %></td>
          <td><%= gun.needs %></td>
          <td><%= gun.status %></td>
          <td>
            <%= link_to 'Show', gun, class:"btn btn-sm btn-outline-primary mr-1" %> 
            <%= link_to 'X', gun, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>